
	/* CSS Document */

	/*#####################Page Containers#######################*/
	body {

		background-color:#996600;
		font-family:Georgia, "Times New Roman", Times, serif;

	}

	#container{

		margin:auto;
		background-color: #fff;
		border:0.5em solid #660000;
		width:70em;
	}

	#content{

		float:right;
		width:50em;
		padding:2em;
		border-left:0.5em solid#660000;


	}

	#agree+label{
		width:40em;
		text-align:left;
	}
	footer{

		background-color:#660000;
		color:#996600;
		text-align:center;
		padding-top:1em;
		clear:both;
		height:2em;


	}

	/*#####################Header#######################*/

	header{
		overflow:hidden;
		border-bottom:0.5em solid #660000;
	}
	header img { 

		float:left;
	}
	header h1{

		padding-bottom:0.5em;
		font-size: 1.8em;
		margin-top:1em;

	}

	header h2{
		font-size: 1.3em;
		text-align:right;
		float:right;


		width:10em;	

	}

	header h3{
		font-size: 1.1em;

		padding :1em;
	}

	sup{

		font-size: .5em;
	}
	/*#####################Navigation#######################*/

	nav{ 
		float:left;
		width:14em;
		padding:0.2em;
		
	}

	nav li a{

		display:block;
		border: 2px solid #003300;

		background-color:#045500;

		padding: 10px;
		margin: 5px;
		border-radius: 10px;

	}


	nav li a:hover{
		background-color:#FFF;
		color:#045500;
	}


	nav a, nav a:link, nav a:visited{
		text-decoration:none;
		color:#FFFFFF;
	}


	/*##################### Form #######################*/

	form{
		border:0.2em solid #000066;
		border-radius:0.3em;
		padding:.4em;
	}

	label{
		width:15em;
		margin-bottom:1em;
		text-align:right;
		color:#000066;
		display:inline-block;
	}


	#house{
		border:2px solid #996600;
		border-radius: 10px;
	}

	#house label{
		width: auto;
		text-align:left;
		padding:0.5em;
	}

	#house legend{
		color:#660000;
	}


	.textarealabel{
		vertical-align:top;
	}

	button{
		background-color: #045500;
		padding:10px;
		margin:5px;
		color:#fff;
	}

	button:first-of-type{
		margin-left:22em;
	}


	/*##################### Color Styles #######################*/	
	.griff{color: #660000;}	
	.huff{color: #996600;}	
	.rav{color: #000066;}
	.sly{color:#045500;}


